.clear {
    clear: both;
}

.page-on-top i {
    font-size: 2.5rem;
    color: var(--white-color);
    opacity: 0.6;
}

.hide-on-desktop {
    display: none;
    
}

.content {
    background-color: #f6f7f8;
    padding-top: 40px;
}
.container-top {
    background-color: #f6f7f8;
    padding-bottom: 52px;
}

.content-support-list {
    background-color: rgba(227,229,232,.5);
    padding: 10px;
}

.content-support-list {
    display: block;
}

.content-support-item {
    text-align: center;
}

.content-support-item-link {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 550;
    line-height: 2.2rem;
}
/* Story-Top */
.story-top {
    padding-top: 25px;
}

.title-top-right-link:hover .title-top-right-text:last-child {
    color: var(--text-hover);
}

.title-top-text {
    background-color: #454647;
    padding: 4px 8px;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 550;
    display: inline-block;
}

.title-top-text i {
    color: yellow;
}

.title-top-month,
.title-top-full {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 550;
    opacity: 0.6;
    margin-left: 15px;
}

.story-top-item-link {
    display: block;
}

.story-top-content {
    margin-top: 18px;
}

.story-top-item {
    position: relative;
    width: 100%;
}

.story-top-item-img {
    display: block;
    padding-top: 142%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.story-top-item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 12px 8px;
    width: 100%;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8) 67%,rgba(0,0,0,.8));
}

.story-top-item-name-link {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 550;
    line-height: 2.4rem;
    height: 4.8rem;
    color: var(--white-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
}

.story-top-item-name-link:hover {
    color: var(--text-hover);
}

.title-top-right-link {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 550;
}

.title-top-right-text:first-child {
    color: var(--white-color);
    background-color: #454647;
    padding: 4px 8px;
    display: inline-block;
}

.title-top-right-text:last-child {
    margin-left: 4px;
    color: var(--text-color);
    border-bottom: 3px solid #454647;
}

.discussion-list {
    margin-top: 30px;
}

.discussion-item {
    margin-top: 19px;
}

.discussion-item-details {
    line-height: 1.4rem;
    height: 1.4rem;
    display: flex;
}

.discussion-item-icon {
    font-size: 1.4rem;
    display: block;
}

.discussion-item-link {
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.4rem;
    overflow: hidden;
    color: var(--text-color);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 400;
}

.discussion-item-link:hover {
    color: var(--text-hover);
}

.discussion-item-time {
    font-size: 1.4rem;
    line-height: 1.4rem;
    display: block;
    text-align: end;
    min-width: 40px;
}

/* Button-slider-show */
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #000;
    color: #000;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
}

.dot-active {
    opacity: 0.4;
}

.story-top-group {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.focus-btn {
    opacity: 0.6;
}

.story-top-item-index {
    transform-origin: right;
    animation-name: fade;
    animation-duration: 1.5s;
}

.hide-on-desktop {
    display: none;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* STORY-NEW */
.story-new {
    padding-top: 70px;
}
/* STORY-CHAPTER-NEW */
.story-chapter {

}

.story-title-wrap {
    display: flex;
    align-items: center;
}

.story-title-text-one {
    display: block;
    font-size: 1.7rem;
    font-weight: 550;
    color: var(--white-color);
    background-color: #454647;
    padding: 4px 8px;
}

.story-title-text-two {
    font-size: 1.7rem;
    font-weight: 550;
    color: var(--text-color);
    margin-left: 8px;
    border-bottom: 2px solid var(--text-color);
}

/* STORY-CHAPTER-LIST */
.story-chapter-list {
    margin-top: 5px
}

.story-new-item {
    margin-top: 24px;
}

.story-new-wrap {
    position: relative;
}

.story-new-item-link {
    display: block;
    text-decoration: none;
}

.story-new-img {
    padding-top: 142%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.story-new-detail {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8) 67%,rgba(0,0,0,.8));
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.story-new-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.story-new-link:hover {
    color: var(--text-hover);
}

.story-new-note {
    font-size: 1.4rem;
    color: var(--text-hover);
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-top: 3px;
}

.story-new-name {
    margin-top: 6px;
}

.story-new-name-link {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    line-height: 2rem;
    height: 4rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.story-new-name-link:hover {
    color: var(--text-hover);
}

.story-new-item.see-more .story-new-detail {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: none;
    border: 1px solid var(--white-color);
    background-color: rgba(0,0,0,.5);
    display: flex;
}

.see-more-wrap {
    display: block;
    text-align: center;
    margin: auto;
}

.see-more .see-more-icon {
    font-size: 3.5rem;
    color: var(--white-color);
    display: block;
    text-align: center;
}

.see-more-text   {
    font-size: 1.6rem;
    color: var(--white-color);
    display: block;
    text-align: center;
    font-weight: 500;
}

.see-more:hover .see-more-text,
.see-more:hover .see-more-icon{
    color: var(--text-hover);
}
/* STORY-CREATION */
.story-creation {
    margin-top: 75px;
}

.story-creation-list {
    /* margin-top: 75px; */
}

.story-creation .story-new-note {
    color: #4ebef7;
}

/* STORY-READ */
.story-read {

}

.story-read-title-wrap {
    display: flex;
    align-items: center;
}

.story-read-title-link {
    display: block;
    text-decoration: none;
}

.story-read-title-link:hover 
.story-read-title-text-two {
    color: var(--text-hover);
}


.story-read-title-text-one {
    font-size: 17px;
    padding: 4px 8px;
    background-color: #454647;
    color: var(--white-color);
    font-weight: 550;
}

.story-read-title-text-two {
    font-size: 17px;
    color: var(--text-color);
    font-weight: 550;
    border-bottom: 2px solid var(--text-color);
    margin-left: 8px;
}

.story-read-list {
    margin-top: 30px;
}

.story-read-item {
    margin-top: 15px;
}

.story-read-img {
    padding-top: 143%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.story-read-detail {
    padding-right: 40px;
}

.story-read-name-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 500;
}

.story-read-name-link:hover {
    color: var(--text-hover);
}

.story-read-note {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 5px;
    height: 1.4rem;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    
}

.story-read-chapter-link {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 14px;
    height: 1.4rem;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-decoration: none;
}

.story-read-chapter-link:hover {
    color: var(--text-hover);
}

/* Comment */
.comment-recent {
    margin-top: 60px;
}

.comment-label {
    display: flex;
    align-items: center;
}

.comment-label-text-one {
    display: block;
    color: var(--white-color);
    font-size: 1.7rem;
    padding: 4px 8px;
    background-color: #454647;
    font-weight: 550;
    text-align: center;
}

.comment-label-text-two {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 8px;
    font-weight: 550;
    border-bottom: 2px solid var(--text-color);
}

.comment-list {
    margin-top: 25px;
    height: 700px;
    padding-right: 40px;
    overflow: auto;
}

.comment-item {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    
}

.story-to-comment-link {
    font-size: 1.5rem;
    font-weight: 550;
    text-decoration: none;
    color: var(--text-color);
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 4px;
}

.story-to-comment-link:hover {
    color: var(--text-hover);
}

.comment-content {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 5px;
}

.comment-user-time {
    display: flex;
    align-items: center;
}

.comment-user {
    display: flex;
    align-items: center;
}

.comment-user-img {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.comment-user-name-link {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    margin-left: 5px;
    font-weight: 550;
    color: rgba(0,0,0,.5);
}

.comment-time {
    font-size: 1.4rem;
    color: rgba(0,0,0,.5);
    margin-left: auto;
}

/* STORY-JUST-POSTED */
.container-mid {
    background-color: #edeef0;
    padding-bottom: 80px;
}

.story-just-posted {
    padding-top: 60px;
}

.story-just-posted-title-wrap {
    display: flex;
    align-items: center;
}

.story-just-posted-text-one {
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 550;
    background-color: #454647;
    padding: 4px 8px;
}

.story-just-posted-text-two {
    font-size: 1.7rem;
    font-weight: 550;
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
    display: block;
    margin-left: 8px;
}

.story-just-posted-list {
    margin-top: 10px;
}

.story-just-posted-item {
    margin-top: 20px;
}

.story-just-posted-item-link {
    display: block;
    text-decoration: none;
}

.story-just-posted-img {
    padding-top: 143%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.story-just-posted-detail {

}

.story-just-posted-name-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    height: 1.8rem;
    font-weight: 550;
    color: #333;
    margin-top: 3px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.story-just-posted-name-link:hover {
    color: var(--text-hover);
}

.story-just-posted-intro {
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    line-height: 2rem;
    height: 8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-top: 14px;
}

.story-just-posted-more {
    text-align: center;
    margin-top: 30px;
}

.story-just-posted-more-link {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    border: 1px solid var(--text-color);
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
}

.story-just-posted-more-link:hover {
    color: var(--white-color);
    background-color: var(--text-color);
}

.story-just-posted-more-link i {
    margin-right: 5px;
}

/* STORY-RANK */
.story-rank-title-wrap {
    display: flex;
    align-items: center;
}

.story-rank-title-one {
    font-size: 1.7rem;
    color: var(--white-color);
    padding: 4px 8px;
    background-color: #454647;
    font-weight: 550;
}

.story-rank-title-two {
    display: block;
    font-size: 1.7rem;
    font-weight: 550;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    margin-left: 8px;
}

.story-rank-list {
    margin-top: 25px;
}

.story-rank-item {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.story-rank-badge {
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 500;
    border-radius: 20px;
    background-color: rgba(25,26,26,.7);
    text-align: center;
    min-width: 32px;
    max-width: 34px;
    height: 22px;
    line-height: 22px;
    margin-top: -3px;
}

.story-rank-content {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.story-rank-detail {
    width: 100%;
}

.story-rank-name-link {
    font-size: 1.5rem;
    font-weight: 550;
    text-decoration: none;
    color: rgba(25,26,26,.7);
    line-height: 1.5rem;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding-right: 10px;
}

.story-rank-name-link:hover {
    color: var(--text-hover) !important;
}

.story-rank-follow {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
}


.story-rank-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 38px;
    height: 54.5px;
    margin-left: auto;
}

.story-rank-item:first-child .story-rank-name-link,
.story-rank-item:first-child .story-rank-follow {
    color: #d54d6d;
}
.story-rank-item:first-child .story-rank-badge {
    background-color: #d54d6d;
}

.story-rank-item:nth-child(2) .story-rank-name-link,
.story-rank-item:nth-child(2) .story-rank-follow {
    color: var(--text-color);
}
.story-rank-item:nth-child(2) .story-rank-badge {
    background-color: var(--text-color);
}

.story-rank-item:nth-child(3) .story-rank-name-link,
.story-rank-item:nth-child(3) .story-rank-follow {
    color: var(--text-color);
}
.story-rank-item:nth-child(3) .story-rank-badge {
    background-color: var(--text-color);
}

/* container-bottom */
.container-bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f7f8;
}

.story-finished-title-wrap {
    display: flex;
    align-items: center;
}

.story-finished-title-text-one {
    display: block;
    font-size: 1.7rem;
    font-weight: 550;
    color: var(--white-color);
    background-color: #454647;
    padding: 4px 8px;
}

.story-finished-title-text-two {
    font-size: 1.7rem;
    font-weight: 550;
    color: var(--text-color);
    margin-left: 8px;
    border-bottom: 2px solid var(--text-color);
}

.story-finished-item {
    margin-top: 30px;
}

.story-finished-wrap {
    position: relative;
}

.story-finished-item-link {
    display: block;
    text-decoration: none;
}

.story-finished-img {
    padding-top: 142%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.story-finished-detail {
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.8) 67%,rgba(0,0,0,.8));
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.story-finished-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.story-finished-link:hover {
    color: var(--text-hover);
}

.story-finished-note {
    font-size: 1.4rem;
    color: var(--text-hover);
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-top: 3px;
}

.story-finished-name {
    margin-top: 6px;
}

.story-finished-name-link {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    line-height: 2rem;
    height: 4rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.story-finished-name-link:hover {
    color: var(--text-hover);
}

.story-finished-item.see-more .story-finished-detail {
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: none;
    border: 1px solid var(--white-color);
    background-color: rgba(0,0,0,.5);
    display: flex;
}



/* TABLET */
@media (min-width:740px) and (max-width: 1023px){
    .story-top .title-top-right {
        padding-top: 50px;
    }

    .discussion-list {
        margin-left: 20px;
        padding-bottom: 35px;
    }

    .story-read {
        margin-top: 75px;
    }

    .story-read-list {
        margin-left: 20px;
    }

    .story-read-detail {
        margin-left: 15px;
        padding-right: 0px;
    }
    .story-just-posted-detail {
        margin-left: 15px;
    }
}
/* MOBILE */
@media (max-width:740px){
    .story-top .title-top-right {
        padding-top: 25px;
    }

    .show-on-mobile {
        display: block;
    }

    .container-top {
        padding-left: 12px;
        padding-right: 12px;
    }

    .discussion-list {
        margin-left: 20px;
        padding-bottom: 35px;
    }

    .story-read {
        margin-top: 75px;
    }

    .story-read-list {
        margin-left: 13px;
    }

    .story-read-detail {
        margin-left: 15px;
        padding-right: 0;
    }

    .container-mid {
        padding-left: 12px;
        padding-right: 12px;
    }

    .story-just-posted-detail {
        margin-left: 15px;
    }

    .story-rank-title-wrap {
        margin-top: 55px;
    }

    .container-bottom {
        padding-left: 12px;
        padding-right: 12px;
    }

    .footer {
        padding-left: 12px;
        padding-right: 12px;
    }

    .footer-main {
        display: block;
    }
}
